:root {
    --accent-color: #3b003b;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0;
}

.logo {
    background: url(bgpic.jpg) no-repeat;
    width: 50vh;
    height: 100vh;
}

.form {
    flex-direction: column;
    background-color: white;
    height: 100vh;
}