:root {
    --accent-color: #3b003b;
    --custom-margin: 10px;
    --txt-color: white;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.logo-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    opacity: 80%;
    width: 60vh;
    color: var(--txt-color);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: var(--custom-margin);
}

.logo-credit {
    display: flex;
    color: var(--txt-color);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: url(bgpic.jpg) no-repeat;
    width: 60vh;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-size: 90vh;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--txt-color);
    height: 100vh;
}

.info form {
    margin: var(--custom-margin);
}

button {
    background-color: var(--accent-color);
    color: var(--txt-color);
}