:root {
    --accent-color: #3b003b;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.logo-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b003b;
    opacity: 80%;
    width: 60vh;
    color: white;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo-credit {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(bgpic.jpg) no-repeat;
    width: 60vh;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-size: 90vh;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: 100vh;
}